.feedback-form {
  display: flex;
  flex-wrap: wrap;
  width: 360px;
}

label {
  padding-bottom: 16px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

input,
textarea {
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 5px;
  border: black 2px inherit;
}

button {
  background-color: #4e75ff;
  border: inherit;
  border-radius: 5px;
  color: white;
  width: 95px;
  height: 40px;
  font-family: serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
