.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 1130px;
    margin-left: auto;
    margin-right: auto;
}

.gallery-item {
    list-style: none;
}

.gallery-image {
    width: 360px;
    height: 200px;
}
